.header {
    height: 50px;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: right; 
    background-color: #ffffff;
    background-image: url(../image/header.jpg);
    color: #000000;
}
