body {
 font-family: 'メイリオ';
}

.header {
    height: 50px;
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: right; 
    background-color: #ffffff;
    background-image: url(../image/header.jpg);
    font-size: 150%;
    font-weight: bold;
    color: #000000;
}

.header_day img {
    cursor: pointer;
    margin: 0 0 0 50px;
    vertical-align: top;
}

.day_edit {
    background-color:lemonchiffon;
    display:none;
    width: 100%;
}

.day_edit textarea {
    width: 100%
}
